---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
// import { getEntry } from 'astro:content';

// const entry = await getEntry('about', 'me');

// const { Content, headings } = await entry.render();
import ListItem from '~/components/ListItem.astro'
import ListSection from '~/components/ListSection.astro'
import { getCategories, getPathFromCategory } from '~/utils/index'

const { translate: t } = Astro.locals
const { category_map } = Astro.locals.config;
const categories = await getCategories()
---

<LayoutDefault>
    <h1 class="post-title!">关于我</h1>
    <p>我是Ender，欢迎来到我的博客。</p>
    <div class="mb-8"></div>

    <p class="mb-2">我是一名兴趣比较广泛但是啥都不太会的全栈程序员，正在努力学习中。<br>前端主要使用：</p>

    <div class="flex gap-2 mb-2">
      <img alt="React" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white" />
      <img alt="TypeScript"
        src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white" />
    <img alt="TailwindCSS"
        src="https://img.shields.io/badge/-tailwindcss-50B3D0?style=flat-square&logo=tailwindcss&logoColor=white" />
    </div>

    <p class="mb-2">后端主要语言是Python，从事过大数据相关工作，最近对AIGC比较感兴趣。</p>

    <div class="mb-8"></div>

    偶尔也会在B站上发一些视频或者直播，欢迎关注我：<img alt="TailwindCSS"
    class="cursor-pointer mt-2"
    onclick="window.open('https://space.bilibili.com/12411973', '_blank')"
        src="https://img.shields.io/badge/-bilibili-00A1D6?style=flat-square&logo=bilibili&logoColor=white" />
    <!-- <p>
      <img alt="Django"
        src="https://img.shields.io/badge/-Django-082d1f?style=flat-square&logo=Django&logoColor=white" />
      <img alt="NodeJS"
        src="https://img.shields.io/badge/-NodeJS-43853d?style=flat-square&logo=Node.js&logoColor=white" />
      <img alt="MongoDB"
        src="https://img.shields.io/badge/-MongoDB-13aa52?style=flat-square&logo=mongodb&logoColor=white" />
      <img alt="PostgreSQL"
        src="https://img.shields.io/badge/-PostgreSQL-31648c?style=flat-square&logo=PostgreSQL&logoColor=white" />
    </p> -->